body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

button {
    font-size: 18px; /* Increases button text size */
    padding: 10px 15px; /* Optional: Adjusts padding for better appearance */
}

select {
    font-size: 18px; /* Increases the text size of the dropdown options */
    padding: 5px; /* Adds some spacing for better visibility */
}

select option {
    font-size: 18px;
}


label {
    font-size: 18px; /* Increase label text size */
    font-weight: bold; /* Optional: Makes the text bold for better visibility */
}
